body{
    margin: 0px;
    padding: 0px;
    font-family:  Verdana, Tahoma;
}

#fast{
    color: #105788;
}

#parking{
    color: #dbc403;
}

.title_container{
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

.title{
    text-align: center;
    margin-right: 200px;
    padding-top: 10px;
}

.title > img{
    display: flex;
    margin-left: 850px;
    margin-top: -60px;   
}

.titulo{
    text-align: left;
    padding-left: 35px;
}

.line{
    width: 95%;
}

.register{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 500px;
   
    text-align: center;
   
    
}

.register_container > input{
    width: 50%;
    height: 20px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #262626;
    border-radius: 5px;
   
}

label{
    display: flex;
    margin-left: 170px;
    margin-top: 30px;
}

.register > button{
    width: 170px;
    height: 50px;
    margin-top: 60px;
}

.button_print{
    background:#1fb6ff;
    border-radius: 50px;
    cursor: pointer;
    border: solid 1px #262626;
    font-family: Tahoma;
    color: #fff;
    font-size: 1.1em;
}

.button_print:hover{
    transition: 1s;
    border: solid 1px #fff;
}

.button_cancel{
    background-color: #ff4949;
    border-radius: 50px;
    cursor: pointer;
    border: solid 1px #262626;
    font-family: Tahoma;
    color: #fff;
    font-size: 1.1em;
}

.button_cancel:hover{
    transition: 1s;
    border: solid 1px #fff;
}

.copyright{
    width: 100%;
    height: 40px;
    background-color: #262626;
    color: #fff;
    text-align:center;
    padding-top: 20px;
    user-select: none;
    font-family: monospace;
    font-size: 1.1em;
    margin-top:91px;
}